﻿@model DatingIdentity.Models.Pratique

@using Microsoft.AspNetCore.Identity
@using DatingIdentity.Areas.Identity.Data

@inject UserManager<DatingIdentityUser> UserManager

<div class="form-group">
    <label class="control-label"></label>
    <input type="hidden" asp-for="DatingIdentityUserId" class="nav-link text-white" value=@UserManager.GetUserId(User)/>
</div>