﻿@using Microsoft.AspNetCore.Identity
@using DatingIdentity.Areas.Identity.Data

@inject SignInManager<DatingIdentityUser> SignInManager
@inject UserManager<DatingIdentityUser> UserManager


    @if (SignInManager.IsSignedIn(User))
    {


        <li class="nav-item active">
            <a class="nav-link" asp-controller="Pratiques" asp-action="Index">Pratique</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" asp-controller="Sports" asp-action="Index">Sports</a>
        </li>
  


    <li class="nav-item">
        <div id="manage" class="nav-link text-white">Bonjour  @UserManager.GetUserName(User)</div>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-white">Deconnexion</button>
        </form>
    </li>

    }
    else
    {


        <li class="nav-item">
            <a class="nav-link text-white" id="register" asp-area="Identity" asp-page="/Account/Register">Inscription</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" id="login" asp-area="Identity" asp-page="/Account/Login">Se connecter</a>
        </li>
        }
 
