﻿@model DatingIdentity.Models.Sport


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Ajoute un Nouveau Sport</h1>


<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form asp-action="Create" class="card bg-light shadow-lg border-0 p-4 my-5">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomSport" class="control-label"></label>
                <Input asp-for="NomSport" class="form-control" />
                <span asp-validation-for="NomSport" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Ajouter" class="btn btn-info" />
            </div>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>

<div>
    <a asp-action="Index">Retour à la liste des sports</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}