﻿@model IEnumerable<DatingIdentity.Models.Sport>

@{
    ViewData["Title"] = "IndexSport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Liste des sports</h1>

<table class="table">
    <thead>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomSport)
            </th>

        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomSport)
                    </td>
                </tr>
            }
    </tbody>
</table>

<p class="py-4">
    <a class="btn btn-info my-4" asp-action="Create">Créer un nouveau sport</a>
</p>