﻿@using DatingIdentity.Areas.Identity.Data

@model IEnumerable<DatingIdentity.Models.Sport>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="my-4">Bienvenue à <br/> <strong class="text-primary">SportDating </strong><br/> le site de rencontre sportive</h3>
    <hr/>
</div>

<div class="container">
    <div class="row justify-content-around  my-5 py-5">

        @foreach (var item in Model)
        {

            <div class=" card m-2 bg-light border-0 shadow text-center py-3" style="width: 5em; height:5em;">
                @Html.DisplayFor(modelItem => item.NomSport)
            </div>


        }
    </div>

</div>