﻿@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Accès refusé";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Vous n'avez pas accès à cette page.<br />
    Merci de contacter votre administrateur</p>
</header>
