﻿@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1>Se connecter</h1>
<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
        <section>
            <form id="account" method="post">
                <hr />
                
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-dark">Valider</button>
                </div>
                <div class="form-group">
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-3">

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
