﻿@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
   
}


<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Création de compte</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Nom"></label>
                <input asp-for="Input.Nom" class="form-control" />
                <span asp-validation-for="Input.Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Prenom"></label>
                <input asp-for="Input.Prenom" class="form-control" />
                <span asp-validation-for="Input.Prenom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Departement"></label>
                <input asp-for="Input.Departement" class="form-control" />
                <span asp-validation-for="Input.Departement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-dark">Valider</button>
        </form>
    </div>
    <div class="col-md-3"></div>
    
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
