﻿@model List<DatingIdentity.ViewModels.UserRoleViewModel>

@{
    var roleId = ViewBag.roleId;
}



<h4>Affectation Rôle aux Utilisateurs</h4>
<hr />

    
        <form method="post">
            <div class="card">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="card-header">
                    <h3>Ajout ou suppression d'utilisateurs pour le rôle</h3>
                </div>
                <div class="card-body">
                
                    @for(int i =0; i<Model.Count; i++)
            {
                    <div class="form-check">
                        <input type="hidden" asp-for="@Model[i].UserId" />
                        <input type="hidden" asp-for="@Model[i].Email" />
                        <input asp-for="@Model[i].IsSelected" class="form-check-input" />
                        <label asp-for="@Model[i].IsSelected" class="form-check-label">
                            @Model[i].Email
                        </label>
                    </div>
            }


                </div>
                <div class="card-footer">                    
                        <input type="submit" value="Enregistrer" class="btn btn-primary" />  
                        <a asp-action="editRole" asp-route-id="@roleId" class="btn btn-primary">Retour</a>
                </div>
            </div>
        </form>



<div>
    <a asp-action="Index">Back to List</a>
</div>

