﻿@model DatingIdentity.ModelViews.UserViewModel

@{
    ViewData["Title"] = "editRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Attribution des rôles</h1>


<hr />

    
        <form asp-action="editRole" class="container">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="RoleName" class="control-label"></label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <input type="submit" value="Modifier" class="btn btn-primary mr-2" />
                <a asp-action="Index" class="btn btn-primary">Retour à la liste</a>
            </div>
        </form>
    


<div class="card">
    <div class="card-header">
        <h3>Utilisateurs</h3> 
    </div>
    <div class="card-body">
        @if(Model.Users.Any())
        {
            foreach(var user in Model.Users)
                {
                    <h5 class="card-title">@user</h5>
                }
            }
            else
            {
                <h5 class="card-title">Personne ne détient ce rôle.</h5>
            }
    </div>
    <div class="card-footer">
        <a asp-action="EditUsersInRole" asp-controller="Role" asp-route-roleId="@Model.Id" class="btn btn-primary"> Ajout ou Supprimer un utilisateur</a>        
    </div>
</div>

