﻿@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "Index";
}

<h1>Le type de Rôles</h1>
<a asp-action="Create">Créer</a>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Actions</td>
        </tr>
    </thead>

    <tbody>
        @if (Model.Any())
        {
            @foreach (var role in Model)
            {
                <tr>
                    <td>@role.Id</td>
                    <td>@role.Name</td>
                    <td>
                        <a asp-action="editRole" asp-route-id="@role.Id">Modifier</a> |
                        <a asp-action="Delete" asp-route-id="@role.Id">Supprimer</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3">
                    Il n'y a pas de rôle existant
                </td>
            </tr>
        }
    </tbody>
</table>
