﻿@model DatingIdentity.Models.Pratique


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>T'inscrire à un nouveau sport</h1>

<hr />
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 ">
        <form asp-action="Create" class="card p-4 my-5 bg-light shadow-sm border-0">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Niveau" class="control-label "></label>
                <select asp-for="Niveau" class="form-control" asp-items="Html.GetEnumSelectList<Niveau>()">
                    <option value="">-- Selectionne ton Niveau --</option>
                </select>

                <span asp-validation-for="Niveau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sports" class="control-label"></label>
                <select asp-for="SportId" class="form-control" asp-items="ViewBag.SportId">
                    <option value="">-- Select ton Sport --</option>
                </select>
                <span asp-validation-for="SportId" class="text-danger" />
            </div>
            <partial name="_InputGetUserId" />
            <div class="col-md-3"></div>
            @*<div class="form-group">
                    <label asp-for="DatingIdentityUserId" class="control-label"></label>
                    <select asp-for="DatingIdentityUserId" class="form-control" asp-items="ViewBag.DatingIdentityUserId"></select>
                </div>*@
            <div class="form-group">
                <input type="submit" value="Ajouter" class="btn btn-info" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class=" col-md-3">
        <a class="btn btn-info" asp-action="Index">Retour à la liste des sports</a>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-3">
        <a class="btn btn-info" asp-controller="Sports" asp-action="Create">Créer un nouveau sport</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
