﻿@model DatingIdentity.Models.Pratique

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>Confirmer la suppression de ces informations?</h3>

    <div>
        <hr />
        <dl class="row">
            <div class="col-md-3">

            </div>
            <dt class="col-md-3">
                @Html.DisplayNameFor(model => model.DatingIdentityUser.Nom)
            </dt>
            <dd class="col-md-3">
                @Html.DisplayFor(model => model.DatingIdentityUser.Nom)
            </dd>
            <div class="col-md-3">

            </div>
            </dl>
        <dl class="row">
            <div class="col-md-3">

            </div>
            <dt class="col-md-3">
                @Html.DisplayNameFor(model => model.DatingIdentityUser.Prenom)
            </dt>
            <dd class="col-md-3">
                @Html.DisplayFor(model => model.DatingIdentityUser.Prenom)
            </dd>
            <div class="col-md-3">

            </div>
        </dl>
        <dl class="row">
            <div class="col-md-3">

            </div>
            <dt class="col-md-3">
                @Html.DisplayNameFor(model => model.Sports)
            </dt>
            <dd class="col-md-3">
                @Html.DisplayFor(model => model.Sports.NomSport)
            </dd>
            <div class="col-md-3">

            </div>
        </dl>
        <dl class="row">
            <div class="col-md-3">

            </div>
            <dt class="col-md-3">
                @Html.DisplayNameFor(model => model.Niveau)
            </dt>
            <dd class="col-md-3">
                @Html.DisplayFor(model => model.Niveau)
            </dd>
            <div class="col-md-3">

            </div>

        </dl>
   
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PratiqueId" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> 
        <a class="btn btn-info" asp-action="Index">Retour à la liste</a>
    </form>
</div>
