﻿@model DatingIdentity.Models.Pratique

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Détails</h1>

<div>    
    <hr />
    <dl class="row text-left"> 
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DatingIdentityUser.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DatingIdentityUser.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DatingIdentityUser.Prenom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DatingIdentityUser.Prenom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DatingIdentityUser.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DatingIdentityUser.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DatingIdentityUser.Departement)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DatingIdentityUser.Departement)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sports)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sports.NomSport)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Niveau)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Niveau)
        </dd>


    </dl>
</div>
<div>
    <a class="btn btn-info" asp-action="Edit" asp-route-id="@Model.PratiqueId">Modification</a> 
    <a class="btn btn-info" asp-action="Index">Retour à la liste</a>
</div>
