﻿@model IEnumerable<DatingIdentity.Models.Pratique>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 class="my-4">Liste de tous les sportifs</h2>

<table class="table my-4">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DatingIdentityUser.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatingIdentityUser.Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatingIdentityUser.Departement)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Sports.NomSport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Niveau)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DatingIdentityUser.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatingIdentityUser.Prenom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatingIdentityUser.Departement)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Sports.NomSport)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Niveau)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.PratiqueId">Modifier</a> |
                    <a asp-action="Details" asp-route-id="@item.PratiqueId">Détails</a> |
                    <a asp-action="Delete" asp-route-id="@item.PratiqueId">Supprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-action="Create" class="btn btn-info my-4">S'inscrire à une nouvelle pratique sportive</a>
</p>
